<div class="container">
    <h2>Angular ngx-treeview component demo</h2>
    <hr />
    
    <ngx-test [config]="{ hasAllCheckBox: false,
                        hasFilter: false,
                        hasCollapseExpand: false,
                        singleSelect: true,
                        singleExpand: true,
                        maxHeight: 800,
                        loadAll: false,
                        treeToLoad: 'F9FCBDC6-D437-E511-B85E-C860006E1E2F',
                        url: 'http://localhost:56783/api/DDSLists/Tree'
                    }" 
                
                    >
                    
</ngx-test>
    
</div>


